.gradation-title {
    font-size: 72px;
    // background: linear-gradient(to bottom,#F38EBB, #ff3565);
    background: linear-gradient(to right,#ff3565, #F38EBB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.grey-title {
    color: #747574;
}

hr.spacer {
    height: 5px;
    background: linear-gradient(to left, #ff3565, #F38EBB);
    border: none;
    border-radius: 5px;
}

.mission-description {
    padding: 30px;
}

.company-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.company-container img {
    width: 100%;
}
.text-center {
    text-align: center;
}
.flexbox {
    display: flex;
}
.profile {
    width: 50%;
    margin: auto;
}
.map {
    width: 50%;
    margin: auto .5rem;
}
@media screen and (max-width: 767px) {
    .flexbox {
        display: block;
    }
    .flexbox .box1 {
        width: 100%;
        margin: 0 auto;
    }
    .flexbox .box2 {
        width: 100%;
        margin: 0 auto;
    }
}