{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" "images/kevin-lanceplaine-243768-unsplash.jpg" "heading" "Why Choose Us?" "subheading" "Established in 1985, we're a team you can trust with your business"  "content" .)}}

<div id="home" class="strip bg-cover bg-position-center bg-overlay pt-15 pb-15" style="background-image: url('{{ .Site.BaseURL }}images/todd-diemer-284465-unsplash.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="about">
          <h2 class="text-primary text-capitalize">No Limits </h2>
          <p>Lorem ipsum dolor sit amet, et essent mediocritatem quo, choro volumus oporteat an mei. Numquam dolores mel eu, mea docendi omittantur et, mea ea duis erat. Elit melius cu ius. Per ex novum tantas putant, ei his nullam aliquam apeirian. Aeterno quaestio constituto sea an, no eum intellegat assueverit. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip pt-15 pb-15" style="background-color: #ffc107;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-6">
        <div class="about">
          <h2 class="text-primary text-capitalize">Small Trustworthy Team </h2>
          <p>Lorem ipsum dolor sit amet, et essent mediocritatem quo, choro volumus oporteat an mei. Numquam dolores mel eu, mea docendi omittantur et, mea ea duis erat. Elit melius cu ius. Per ex novum tantas putant, ei his nullam aliquam apeirian. Aeterno quaestio constituto sea an, no eum intellegat assueverit. Ex sea tritani phaedrum, eruditi iracundia ne his, ad his iusto consulatu imperdiet.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="home" class="strip bg-cover bg-position-center bg-overlay pt-15 pb-15" style="background-image: url('{{ .Site.BaseURL }}images/adrian-infernus-1198884-unsplash.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="about">
          <h2 class="text-primary text-capitalize">No Limits </h2>
          <p>Lorem ipsum dolor sit amet, et essent mediocritatem quo, choro volumus oporteat an mei. Numquam dolores mel eu, mea docendi omittantur et, mea ea duis erat. Elit melius cu ius. Per ex novum tantas putant, ei his nullam aliquam apeirian. Aeterno quaestio constituto sea an, no eum intellegat assueverit. </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}