<div id="home">
    <div class="row" style="margin-right: 0px; margin-left: 0px; background-color: #343A40;">
        <div class="col-sm p-4">
            <h2 class="text-white" style="margin-bottom: 0px; font-weight: bold;">会社概要</h2>
            <h6 style="color: #615B5B;">corporate summary</h6>
            <table class="table rs-table-bordered">
                <tbody>
                  <tr>
                    <td class="key">会社名</td>
                    <td>株式会社 filmingo</td>
                  </tr>
                  <tr>
                    <td class="key">英文社名</td>
                    <td>filmingo, Inc.</td>
                  </tr>
                  <tr>
                    <td class="key">代表者</td>
                    <td>代表取締役社長 入口大輝</td>
                  </tr>
                  <tr>
                    <td class="key">会社設立</td>
                    <td>2020年4月</td>
                  </tr>
                  <tr>
                    <td class="key">所在地</td>
                    <td>東京都品川区西品川一丁目1-1 住友不動産大崎ガーデンタワー9階トンネル東京</td>
                  </tr>
                  <tr>
                    <td class="key">事業内容</td>
                    <td>
                        情報通信業<br/><br/>
                        映画配給会社、映画興行会社向けの業務システム開発<br/><br/>
                        エンターテイメント業界に関わるデジタルプロダクト開発コンサルタント
                    </td>
                  </tr>

                </tbody>
              </table>
        </div>
        <div class="col-sm" style="padding-left: 0px; padding-right: 0px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103693.25362583033!2d139.7544473573962!3d35.6914242044829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b3e963e99f9%3A0xfaa4967714227eed!2zVHVubmVsIFRva3lvKOODiOODs-ODjeODq-adseS6rCk!5e0!3m2!1sen!2sjp!4v1606936573262!5m2!1sen!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>