<div class="strip bg-position-top bg-overlay bg-cover" 
    style='
    background-color: #343A40;
    background-image: url("{{ .Params.background | relURL }}");
    '>
    <div class="container p-4 text-white">
      <div class="justify-content-center">
        <h2 style="margin-bottom: 0px;">お問合せフォーム</h2>
        <h6 style="color: #615B5B;">contact</h6>
        <hr style="height:1px;border-width:0;color:#615B5B;;background-color:#615B5B;">
        <form class="text-white" name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
            <div class="form-group">
                <label for="companyInput">会社名</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <input name="company" type="text" class="form-control" id="companyInput" placeholder="company" required>
            </div>
            <div class="form-group">
                <label for="departmentInput">部署名</label>
                <input name="department" type="text" class="form-control" id="departmentInput" placeholder="department">
            </div>
            <div class="form-group">
                <label for="personInput">ご担当者名</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <input name="name" type="text" class="form-control" id="personInput" placeholder="name" required>
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <input name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="phoneInput">電話番号</label>
                <input name="phone" type="number" class="form-control" id="phoneInput" placeholder="phone">
            </div>
            <div class="form-group">
                <label for="messageInput">お問合せ内容</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <textarea name="message" class="form-control" id="messageInput" placeholder="message" rows="5" required></textarea>
            </div>
            <div data-netlify-recaptcha="true" class="float-right"></div>
            <div class="text-center my-5">
                <button type="submit" class="btn btn-primary btn-outline-danger px-10">送信</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  