<div class="strip bg-position-top bg-overlay bg-cover" 
    style='
    background-color: #343A40;
    background-image: url("{{ .Params.background | relURL }}");
    '>
    <div class="container p-4 text-white">
      <div class="justify-content-center">
        <h2 style="margin-bottom: 0px;">お問合せフォーム</h2>
        <h6 style="color: #615B5B;">contact</h6>
        <hr style="height:1px;border-width:0;color:#615B5B;;background-color:#615B5B;">
        <form class="text-white" name="contact" method="POST" data-netlify="true">
            <div class="form-group">
                <label for="exampleFormControlInput1">会社名</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="company" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">部署名</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="department">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">ご担当者名</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="the contact person" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">電話番号</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="phone">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">お問合せ内容</label>
                <span class="badge badge-pill badge-danger bg-light-red">必須</span>
                <textarea class="form-control" id="exampleFormControlInput1" placeholder="message" rows="5" required></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-outline-danger px-10">送信</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  