<div class="text-white value-container">
    <div class="h2 gradation-color font-weight-bold">What We Value</div>
    <hr class="spacer">
    <div class="p-2">
        <div>
            <div class="value-key">- Passion and creativity</div>
            <div class="value-content">情熱と創造性</div>
        </div>
        <div class="my-2">
            <div class="value-key">- Self-motivation</div>
            <div class="value-content">自発的行動</div>
        </div>
        <div>
            <div class="value-key">- Openness, fairness and respect</div>
            <div class="value-content">何事にもオープンで、フェアで、尊重する姿勢</div>
        </div>
    </div>

</div>