<div class="text-white value-container">
    <div class="h3 gradation-color font-weight-bold">What We Value</div>
    <hr class="spacer">
    <div class="p-2">
        <div>
            <div class="value-key">- Be free & own it</div>
            <div class="value-content">自由主義で行こう</div>
        </div>
        <div class="my-2">
            <div class="value-key">- Be self-sustained</div>
            <div class="value-content">自立的であれ</div>
        </div>
        <div>
            <div class="value-key">- Openness, fairness and respect</div>
            <div class="value-content">何事にもオープンで、フェアで、尊重する姿勢</div>
        </div>
    </div>

</div>