.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 40px;
        font-weight: 300;
        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          line-height: 1.4;
          margin-bottom: 40px;
          font-weight: 300;
        }
      }
    }
  }
}
