{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
<!-- {{ range first 1 $reusablePages }}
<div id="home" class="strip bg-cover bg-position-top bg-overlay" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-17 pb-17">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-6">
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }} -->

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3">Our Services</h2>
    </div>
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}services">View All Services</a>
    </div>
  </div>
</div>
{{end}}


{{ range first 1 (after 2 $reusablePages) }}

<div id="home" class="strip bg-secondary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>

  <div class="company-container">
    <div class="flexbox">
        <div class="profile">
          <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8 text-center text-white bg-dark">
                <h2>{{ .Title }}</h2>
                <!-- <p>{{ .Content }}</p> -->
                <div class="container">
                  <div class="row">
                    <div class="col-4 p-3">
                      会社名
                    </div>
                    <div class="col-8 p-3">
                      株式会社 filmingo
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-4 p-3">
                      英文社名
                    </div>
                    <div class="col-8 p-3">
                      filmingo Inc.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 p-3">
                      所在地
                    </div>
                    <div class="col-8 p-3">
                      東京都品川区西品川一丁目1-1 住友不動産大崎ガーデンタワー9階トンネル東京
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 p-3">
                      設立
                    </div>
                    <div class="col-8 p-3">
                      2020年4月
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 p-3">
                      代表者
                    </div>
                    <div class="col-8 p-3">
                      代表取締役社長 入口大輝
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 p-3">
                      事業内容
                    </div>
                    <div class="col-8 p-3">
                      <p>情報通信業</p>
                      <p>映画配給会社、映画興行会社向けの業務システム開発</p>
                      <p>エンターテイメント業界に関わるデジタルプロダクト開発コンサルタント</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.5079649110044!2d139.7286004157572!3d35.615201980209754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b3e963e99f9%3A0xfaa4967714227eed!2zVHVubmVsIFRva3lvKOODiOODs-ODjeODq-adseS6rCk!5e0!3m2!1sen!2sjp!4v1606743389197!5m2!1sen!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
  </div>
</div>
{{ end }}

{{ range first 1 (after 1 $reusablePages) }}
<div id="home" class="strip bg-primary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <a class="button button-white" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}


{{ end }}

{{ define "footer_js" }}
{{ end }}
